.feed-container {
  .active {
    color: red;
  }
  .feed-main-container {
    width: 1040px;
    margin: auto;
    margin-top: 40px;

    .article-item {
      background: #fff;
      padding: 18px 20px;
      border-bottom: 1px solid #f4f4f4;
      cursor: pointer;
      &:hover {
        background: #fafafa;
      }
      display: flex;
      > div {
        margin-top: 3px;
      }
      .article-poster {
        margin-right: 15px;
      }
    }
  }
}
