.feed-container {
  .active {
      color: red;
    }
  .feed-main-container {
    width: 1040px;
    margin: auto;
    margin-top: 40px;
    
    .movie-item {
      background: #fff;
      cursor: pointer;
      &:hover {
        background: #fafafa;
      }
      display: flex;
      height: 160px;
    }
  }
}
