@import '~style/theme/default.less';
.nav-container {
  position: fixed;
  z-index: @zindex-affix;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  font-size: 16px;
  background: black;
  height: 52px;
  color: #fff;
  .nav-main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 1168px;
    margin: auto;
    .logo {
      font-size: 20px;
      font-weight: bold;
    }
    .nav-right {
      display: flex;
      .account-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        .signin {
          margin-right: 10px;
        }
        .username {
          cursor: pointer;
        }
        .logout {
          margin-left: 10px;
          color: white;
        }
      }
    }
  }
}
.account-tip {
  .tip-item {
    font-size: 14px;
    margin-top: 5px;
    &:hover {
      background: @hover-color;
    }
  }
}
