@import '~style/theme/default.less';
.nav-container {
  position: fixed;
  z-index: @zindex-affix;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  font-size: 16px;
  line-height: 40px;
  background: black;
  height: 40px;
  color: #fff;
  .nav-main {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    margin: auto;
    .logo {
      font-size: 20px;
      font-weight: bold;
    }
    .account-container {
      display: flex;
      .logout {
        margin-left: 10px;
        color: white;
      }
    }
  }
}
