@font-face {
  font-family: 'topfeed-icon';
  src: url('./topfeed-icon.eot?1504f59735d9fefc95cd415f4dbfe572?#iefix')
      format('embedded-opentype'),
    url('./topfeed-icon.woff2?1504f59735d9fefc95cd415f4dbfe572') format('woff2'),
    url('./topfeed-icon.woff?1504f59735d9fefc95cd415f4dbfe572') format('woff'),
    url('./topfeed-icon.ttf?1504f59735d9fefc95cd415f4dbfe572')
      format('truetype'),
    url('./topfeed-icon.svg?1504f59735d9fefc95cd415f4dbfe572#topfeed-icon')
      format('svg');
}

i {
  line-height: 1;
}

i[class^='topfeed-icon-']:before,
i[class*=' topfeed-icon-']:before {
  font-family: topfeed-icon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topfeed-icon-quora:before {
  content: '\f101';
}
