html,
body {
  height: 100%;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  .sign-container {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .username {
      margin-bottom: 20px;
    }
    .password {
      margin-bottom: 20px;
    }
    background: #fff;
  }
}
